<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <title>giveme current time</title>
  </head>
  <body>
    <header>
      <h1>
        List of web application types
      </h1>
    </header>
    <nav>
      <ul>
        <li><a href="/ssr/server-time">Server Side Rendering (SSR) + Server Time</a></li>
        <li><a href="/csr/server-time">Client Side Rendering (CSR) + Server Time(With API)</a></li>
        <li><a href="/csr/client-time">Client Side Rendering (CSR) + Client Time</a></li>
      </ul>
    </nav>
  </body>
</html>